
  <div class="p-col-12 p-md-col-6 p-lg-col-3">


    <h1>Lançamentos</h1>


  <div class="col-12 p-fluid" >
    <label>Descrição
    <input   pInputText type="text" appDirective >
  </label>
  </div>

  <div class="col-12">
    <label class="block">Vencimento</label>
    <input pInputText type="text" style="width: 95px">

    <label class="label">até</label>
    <input pInputText type="text" style="width: 95px">
  </div>

  <div class="col-12">
    <button pButton type="submit" label="Pesquisar"></button>
  </div>

</div>





<div class="p-col-12 p-md-col-6 p-lg-col-3">

  <p-table [value]="lancamentos" [paginator]="true" [rows]="4"
  [responsive]="true">
<ng-template pTemplate="header">
  <tr>
    <th class="col-data-header">Pessoa</th>
    <th class="col-data-header">Descrição</th>
    <th class="col-data-header">Vencimento</th>
    <th class="col-data-header">Pagamento</th>
    <th class="col-valor-header">Valor</th>
    <th class="col-data-header"></th>

  </tr>
</ng-template>
<ng-template pTemplate="body" let-lancamento>
  <tr>
    <td>
      <span class="p-column-title">Pessoa</span>
      {{ lancamento.pessoa }}
    </td>
    <td>
      <span class="p-column-title">Descrição</span>
      {{ lancamento.descricao }}
    </td>
    <td class="col-data">
      <span class="p-column-title">Vencimento</span>
      {{ lancamento.dataVencimento }}
    </td>
    <td class="col-data">
      <span class="p-column-title">Pagamento</span>
      {{ lancamento.dataPagamento }}
    </td>
    <td class="col-valor">
      <span class="p-column-title">Valor</span>
      <span [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">{{ lancamento.valor }}</span>
    </td>
    <td class="col-acoes">
      <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
      <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
    </td>
  </tr>
</ng-template>
</p-table>
      <div class="p-col-12  p">
        <button pButton label="Novo Lançamento" type="button" ></button>

      </div>

</div>
