<p>Olá, sou o primeiro component criado.</p>
<hr>

<div class="container">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Olá, Estou usando Bootstrap</h1>
      <p class="lead">Meu nome é {{name}}</p>
      <hr class="my-4">
      <p>Estou aprendendo a mexer no framework {{nome}}</p>
      <button class="btn btn-primary btn-lg" type="button">Vamos aprender mais?</button>
    </div>
  </div>
</div>
<br />
<hr />
<div class="container">
  <div class="alert alert-success" role="alert">
      Funcionário adicionado: <strong>{{name}}</strong>
  </div>

  <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control"
          (input)="alterarNome($event)"
          >
  </div>

  <button type="button" class="btn btn-primary"
      (click)="adicionar()">Adicionar</button>

</div>
