<div class="container">
  <div class="alert alert-success" role="alert">
      Funcionário adicionado: <strong>{{nome}}</strong>
  </div>

  <div class="form-group">
      <label>Nome</label>                         <!--USANDO TWO-WAY DATA BINDING [(ngModel)]-->
      <input type="text" class="form-control" #nameInput [(ngModel)]="nome" />

  </div>

  <button type="button" class="btn btn-primary"
      (click)="adicionando(nameInput.value)" [disabled]="nome.length == 0">Adicionar</button>

</div>
<br />
<br />
<hr />
